body {
background-color:black;
width:100%;
high:100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.container {
  position: relative;
  height: 400px;
  border: 2px solid #006100;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1{
background-color:transparent;
color:white;
}

h2{
background-color:transparent;
color:white;
}

h3{
background-color:transparent;
color:white;
}

div{
background-color:transparent;
color:white;
}
