body {
  background-color:black;
  width:100%;
  high:100%;
  vertical-align:middle;
}

h1{
  background-color:transparent;
  color:white;
}

h2{
  background-color:transparent;
  color:white;
}

h3{
  background-color:transparent;
  color:white;
}

div{
  background-color:transparent;
  color:white;
}
