body {
  background-color:black;
  width:100%;
  high:100%;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1{
  background-color:transparent;
  color:white;
}

h2{
  background-color:transparent;
  color:white;
}

h3{
  background-color:transparent;
  color:white;
}

div{
  background-color:transparent;
  color:white;
}
